#title {
    font-size: 50px;
    text-align: center;
    background-color: antiquewhite;
    padding: 15px;
    margin-right: 160px;
    margin-left: 160px;
}

button {
    
    border: 0px;
    font-size: 35px;
    margin-left: 550px;
}


#questions {
    color: rgb(131, 26, 26);
    background-color: antiquewhite;
    margin-right: 78%;
    padding: 5px;
}